.app{
  background: radial-gradient(circle, rgba(99,115,181,1) 0%, rgba(34,44,55,1) 100%);
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment:fixed;
}	
.fade-in{
  animation: fadeIn .5s ease-in
}
@keyframes fadeIn {
  from {
    opacity: 0
   } 
  to{
    opacity: 1}
}    